[Unit]
Description=Freezer BLE Monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/relay/fridge_monitor/.venv/bin/python3 /home/relay/fridge_monitor/fridged.py >> /home/relay/fridge.log
Restart=on-failure
RestartSec=500s
StartLimitIntervalSec=1800
StartLimitBurst=2
Environment="IFTTT_KEY=<Your_IFTTT_key_here>"
Environment="PYTHONPATH=/home/relay/.local/lib/python3.9/site-packages:/usr/local/lib/python3.9/dist-packages:/usr/lib/python3/dist-packages"

[Install]
WantedBy=multi-user.target